/* Header Desktop */
header{
    background: orange;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}
header h1{
    font-size: 17vh;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100!important;
    padding-left: 10vw;
}
header h2{
    color: #fff;
    position: absolute;
    left: 20vw;
    text-transform: uppercase;
    font-weight: 400!important;
    font-size: 2.5vh;
}